/* GENERAL */

@font-face {
	font-family:'Alata';
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Alata.woff2) format('woff2');
}

@font-face {
	font-family:'Quicksand';
	font-style:normal;
	font-weight:600;
	src:url(../fonts/Quicksand.woff2) format('woff2');
}

html, body {
	margin:0px;
	padding:0px;
	color:#000000;
	font-size:16px;
	font-family:'Alata', monospace;

}

* {
	box-sizing:border-box;
	-webkit-text-size-adjust:100% !important;
	-webkit-font-smoothing:antialiased !important;
	-webkit-tap-highlight-color:transparent !important;
}

body {
	background:url(../images/background.png) #1F1F1F;
}

@media (min-width:1500px) {
	.gameMode body {
		background-size:16px !important;
	}
}

ul {
	margin:0px;
	padding:0px;
}

li {
	list-style-type:none;
	background:url(../images/listDot.png) no-repeat;
	background-position:0px 12px;
	padding-left:16px;
}

#container {
	max-width:1500px;
	width:100%;
	margin:0px auto;
	filter:drop-shadow(5px 5px rgba(0, 0, 0, 0.75));
}

@media (min-width:1500px) {
	.gameMode #container {
		transform:scale(2) !important;
		transform-origin:0 0 !important;
		width:50% !important;
		height:50% !important;
		margin:0px !important;
	}
}

@media (max-width:850px) {
	#container {
		filter:unset !important;
	}
}

#containerInner {
	padding:50px 25px;
}

@media (max-width:850px) {
	#containerInner {
		padding:0px !important
	}
}

.part {
	display:flex;
	padding:10px;
}

/* SCROLLBAR */

html {
	scrollbar-color:#FF9600 #222E57;
}

html::-webkit-scrollbar {
	width:20px;
}

@media (min-width:1500px) {
	html::-webkit-scrollbar {
		width:40px !important;
	}
}

html::-webkit-scrollbar-track {
	background:linear-gradient(to bottom, #50597A, #222E57 10%, #222E57 90%, #11172B);
}
 
html::-webkit-scrollbar-thumb {
	background-color:#FF9600;
	border-radius:20px;
	box-shadow:inset 2px 2px 2px rgba(255,255,255,0.5), inset -2px -2px 2px rgba(0,0,0,0.5);
}

@media (min-width:1500px) {
	html::-webkit-scrollbar-thumb {
		box-shadow:inset 4px 4px 4px rgba(255,255,255,0.5), inset -4px -4px 4px rgba(0,0,0,0.5) !important;
	}
}

html::-webkit-scrollbar-thumb:hover {
	background-color:#FFA628; 
}

html::-webkit-scrollbar-thumb:active {
	background-color:#CD7900; 
}

html::-webkit-scrollbar-button:single-button {
	background-color:#FF9600;
	background-repeat:no-repeat;
	background-position:center;
	width:20px;
	height:20px;
	background-size:20px;
	box-shadow:inset 2px 2px 2px rgba(255,255,255,0.5), inset -2px -2px 2px rgba(0,0,0,0.5);
}

@media (min-width:1500px) {
	html::-webkit-scrollbar-button:single-button {
		width:40px !important;
		height:40px !important;
		background-size:40px !important;
		box-shadow:inset 4px 4px 4px rgba(255,255,255,0.5), inset -4px -4px 4px rgba(0,0,0,0.5) !important;
	}
}

html::-webkit-scrollbar-button:single-button:hover {
	background-color:#FFA628; 
}

html::-webkit-scrollbar-button:single-button:active {
	background-color:#CD7900; 
}

html::-webkit-scrollbar-button:single-button:vertical:decrement {
	background-image:url(../images/scrollArrowUp.png);
}

html::-webkit-scrollbar-button:single-button:vertical:increment {
	background-image:url(../images/scrollArrowDown.png);
}

/* SECTION - HEADER */

#sectionHeader {
	display:flex;
	align-items:flex-end;
	width:100%;
}

@media (max-width:850px) {
	#sectionHeader {
		flex-direction:column !important;
	}
}

#logo {
	background-image:url(../images/backgroundLogo.png);
	width:320px;
	height:140px;
	justify-content:center;
	align-items:center;
	padding:10px 110px 10px 10px;
}

@media (max-width:850px) {
	#logo {
		width:100%;
		height:80px;
		padding:10px;
		background-image:url(../images/backgroundFooter.png) !important;
	}
}

#nav {
	background:linear-gradient(-135deg, transparent 40px, #343848 40px);
	flex-grow:1;
	height:100px;
	padding:0px;
	margin-right:40px;
	padding-right:60px;
	position:relative;
}

.gameMode #nav {
	flex-wrap:wrap !important;
	justify-content:center !important;
	align-items:center !important;
	padding:5px 60px 5px 0px !important;
}

@media (max-width:1000px) {
	#nav {
		flex-wrap:wrap !important;
		justify-content:center !important;
		align-items:center !important;
		padding:5px 60px 5px 0px !important;
	}
}

@media (max-width:850px) {
	#nav, .gameMode #nav {
		width:100% !important;
		height:100% !important;
		background:#343848 !important;
		margin-right:0px !important;
		padding-right:0px !important;
		flex-wrap:wrap !important;
		justify-content:center !important;
		align-items:center !important;
		padding:5px 30px 5px 0px !important;
	}
}

#nav:after {
	background-image:url(../images/matchaHeader.png);
	content:"";
	width:60px;
	height:80px;
	display:inline-block;
	position:absolute;
	right:40px;
	bottom:0px;
	opacity:1;
	transition:opacity 0.15s;
}

.gameMode #nav:after {
	opacity:0 !important;
	display:none !important;
}


@media (max-width:1040px) {
	#nav:after {
		opacity:0 !important;
	}
}

@media (max-width:850px) {
	#nav:after {
		opacity:0 !important;
		display:none !important;
	}
}
#navInner {
	display:flex;
}

.gameMode #navInner {
	flex-wrap:wrap !important;
	justify-content:center !important;
	align-items:center !important;
}

@media (max-width:1000px) {
	#navInner {
		flex-wrap:wrap !important;
		justify-content:center !important;
		align-items:center !important;
	}
}

@media (max-width:850px) {
	#navInner, .gameMode #navInner {
		width:100% !important;
		height:100% !important;
		flex-wrap:wrap !important;
		justify-content:center !important;
		align-items:center !important;
	}
}

.navButton {
	background-color:#232530;
	color:#FF9600;
	border-radius:20px;
	padding:10px;
	display:flex;
	font-size:26px;
	font-family:'Quicksand', monospace;
	justify-content:center;
	align-items:center;
	position:relative;
	text-decoration:none;
	box-shadow:1px 1px #000000, -1px -1px #4B5466;
	user-select:none;
	height:80px;
	margin:10px 25px 10px 5px;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	z-index:1;
	text-shadow:1px 1px #000000, 2px 2px #000000;
}

.gameMode .navButton {
	margin:5px 25px 5px 5px !important;
	width:calc(50% - 30px) !important;
	height:30px !important;
	font-size:24px !important;
}

@media (max-width:1000px) {
	.navButton {
		margin:5px 25px 5px 5px !important;
		width:calc(50% - 30px) !important;
		height:30px !important;
		font-size:24px !important;
	}
}

@media (max-width:850px) {
	.navButton, .gameMode .navButton {
		margin:5px 30px !important;
		margin-right:0px !important;
		width:calc(50% - 30px) !important;
		height:50px !important;
	}
}

.navButton:hover {
	text-shadow:1px 1px #000000, 2px 2px #000000, 0px 0px 5px currentColor;
}

@media (max-width:850px) {
	.navButton:hover {
		box-shadow:-1px -1px #000000, 1px 1px #4B5466;
	}
}

.navButton:active {
	box-shadow:-1px -1px #000000, 1px 1px #4B5466;
}

@media (max-width:850px) {
	.navButton:before {
		background-image:url(../images/backgroundNavSpacer.png);
		content:"";
		width:20px;
		height:50px;
		position:absolute;
		left:-25px;
		pointer-events:none;
		margin:10px 0px;
	}
}

.navButton:after {
	background-image:url(../images/backgroundNavSpacer.png);
	content:"";
	width:20px;
	height:80px;
	position:absolute;
	right:-25px;
	pointer-events:none;
	margin:10px 0px;
}

.gameMode .navButton:after {
	height:30px !important;
}

@media (max-width:1000px) {
	.navButton:after {
		height:30px !important;
	}
}

@media (max-width:850px) {
	.navButton:after, .gameMode .navButton:after {
		height:50px !important;
	}
}

/* SECTION - DIVIDER */

#sectionDivider {
	display:flex;
	width:calc(100% - 80px);
	margin:0px 40px;
	align-items:stretch;
}

@media (max-width:850px) {
	#sectionDivider {
		width:100% !important;
		margin:0px !important;
	}
}

#dividerContent {
	display:flex;
	position:relative;
	height:40px;
	padding:5px;
	background-image:url(../images/backgroundDivider.png);
	font-size:22px;
	color:#FFFFFF;
	flex-grow:1;
	justify-content:center;
	align-items:center;
}

#dividerContent:before {
	content:"";
	display:inline-block;
	position:absolute;
	width:10px;
	min-width:10px;
	height:40px;
	left:0px;
	background-image:url(../images/backgroundDividerLeft.png);
}

#dividerContent:after {
	content:"";
	display:inline-block;
	position:absolute;
	width:10px;
	min-width:10px;
	height:40px;
	right:0px;
	background-image:url(../images/backgroundDividerRight.png);
}

#dividerButton {
	display:none;
	font-family:'Quicksand', monospace;
	user-select:none;
	width:100%;
	height:100%;
	justify-content:center;
	align-items:center;
	text-shadow:1px 1px #000000, 2px 2px #000000;
	cursor:pointer;
}

@media (max-width:850px) {
	#dividerButton {
		display:flex !important;
	}
}

/* SECTION - CENTER */

#sectionCenter {
	display:flex;
	width:calc(100% - 80px);
	margin:0px 40px;
	align-items:stretch;
}

@media (max-width:850px) {
	#sectionCenter {
		width:100% !important;
		margin:0px !important;
		flex-direction:column !important;
	}
}

/* SIDEBAR */

#sidebar {
	width:200px;
	min-width:200px;
	padding:0px;
	background-image:url(../images/backgroundSidebar.png);
	flex-direction:column;
}

.gameMode #sidebar {
	display:none !important;
}

@media (max-width:850px) {
	#sidebar {
		display:none !important;
		width:100% !important;
	}
}

@media (max-width:850px) {
	#sidebar.show {
		display:flex !important;
	}
}

#sidebarTitle {
	padding:5px 5px 3px;
	color:#FFFFFF;
	font-size:22px;
	font-family:'Quicksand', monospace;
	text-align:center;
	text-shadow:1px 1px #000000, 2px 2px #000000;
}

@media (max-width:850px) {
	#sidebarTitle {
		display:none !important;
	}
}

#sidebarNav {
	display:flex;
	padding-top:5px;
	flex-direction:column;
}

.sidebarButton {
	background-color:rgba(0, 0, 0, 0.35);
	color:#FFFFFF;
	border-radius:20px;
	height:50px;
	margin:0px 10px 10px 10px;
	padding:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
	font-size:24px;
	font-family:'Quicksand', monospace;
	box-shadow:1px 1px #000000, -1px -1px #495263;
	user-select:none;
	text-shadow:1px 1px #000000, 2px 2px #000000;
}

.sidebarButton:hover {
	text-shadow:1px 1px #000000, 2px 2px #000000, 0px 0px 5px currentColor;
}

@media (max-width:850px) {
	.sidebarButton:hover {
		box-shadow:-1px -1px #000000, 1px 1px #495263;
	}
}

.sidebarButton:active {
	box-shadow:-1px -1px #000000, 1px 1px #495263;
}

#sidebarBanners {
	margin:auto 10px 9px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}

#sidebarBanners a {
	margin:1px;
	height:31px;
}

/* PAGE */

#page {
	background-image:url(../images/backgroundPage.png);
	background-position:0% 100%;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	padding:20px 20px 0px;
}

/* TEXTBOXES */

.textbox {
	margin-bottom:20px;
}

.textboxTitle {
	background:linear-gradient(-135deg, transparent 20px, #343848 20px);
	height:50px;
	font-size:30px;
	display:flex;
	position:relative;
	color:#FFFFFF;
	align-items:center;
	font-family:'Quicksand', monospace;
	text-shadow:1px 1px #000000, 2px 2px #000000;
}

.textboxTitle:before {
	background-image:url(../images/backgroundTextboxTitle.png);
	content:"";
	width:20px;
	min-width:20px;
	height:50px;
	display:inline-block;
	margin-right:10px;
}

.textboxContent {
	background:linear-gradient(45deg, transparent 20px, rgba(0, 0, 0, 0.25) 20px);
	padding:10px 30px 15px;
	font-size:24px;
}

.textboxContent p, .textboxContent ul {
	margin-top:0px;
	margin-bottom:12px;
}

.textboxContent p:last-child, .textboxContent ul:last-child {
	margin-bottom:0px !important;
}

.textboxContent a {
	color:#CBDBFF;
	text-shadow:0px 1px 2px rgba(0,0,0,0.5);
}

.textboxContent a:hover {
	text-shadow:0px 1px 2px rgba(0,0,0,0.5), 0px 0px 5px currentColor;
}

@media (max-width:850px) {
	.textboxContent a:hover {
		text-shadow:0px 1px 2px rgba(0,0,0,0.5), 0px 0px 5px currentColor;
		color:#AFBCDC;
	}
}

.textboxContent a:active {
	color:#AFBCDC;
}

.gameMode .textboxContent .external {
	color:#000000 !important;
	text-shadow:unset !important;
}

/* SECTION - FOOTER */

#sectionFooter {
	display:flex;
	position:relative;
	width:100%;
	align-items:flex-start;
}

#footerLeft {
	background-image:url(../images/backgroundFooterLeft.png);
	width:150px;
	min-width:150px;
	height:100px;
}

@media (max-width:850px) {
	#footerLeft {
		display:none !important;
	}
}

#footerCenter {
	height:80px;
	flex-grow:1;
	justify-content:center;
	align-items:center;
	background-image:url(../images/backgroundFooter.png);
}

#footerContent {
	display:flex;
	position:absolute;
	width:100%;
	height:80px;
	padding:10px 50px;
	font-size:20px;
	text-align:center;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#footerVersion {
	font-size:16px;
}

#footerRight {
	background-image:url(../images/backgroundFooterRight.png);
	width:150px;
	min-width:150px;
	height:100px;
}

@media (max-width:850px) {
	#footerRight {
		display:none !important;
	}
}

/* PAGE - SERVERS */

#servers {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	margin-bottom:-5px;
}

.server {
	display:inline-flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin:0px 2px;
}

.serverImage {
	width:160px;
	height:354px;
	background-color:#343848;
	border-radius:3px;
	margin-bottom:5px;
}

a.serverButton {
	width:100%;
	height:40px;
	background-color:#343848;
	color:#FFFFFF !important;
	border-radius:20px;
	padding:10px;
	display:flex;
	font-size:26px;
	font-family:'Quicksand', monospace;
	justify-content:center;
	align-items:center;
	position:relative;
	text-decoration:none;
	box-shadow:1px 1px #000000, -1px -1px #809AB2;
	user-select:none;
	display:flex;
	justify-content:center;
	align-items:center;
	text-shadow:1px 1px #000000, 2px 2px #000000;
	margin-bottom:5px;
}

.gameMode .connect {
	display:none !important;
}

a.serverButton:hover {
	text-shadow:1px 1px #000000, 2px 2px #000000, 0px 0px 5px currentColor;
}

@media (max-width:850px) {
	a.serverButton:hover {
		box-shadow:-1px -1px #000000, 1px 1px #809AB2;
	}
}

a.serverButton:active {
	box-shadow:-1px -1px #000000, 1px 1px #809AB2;
}