/* general */

@font-face {
	font-family:'Alata';
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Alata.woff2) format('woff2');
}

@font-face {
	font-family:'Quicksand';
	font-style:normal;
	font-weight:600;
	src:url(../fonts/Quicksand.woff2) format('woff2');
}

@font-face {
	font-family:'Source Code Pro';
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceCodePro.woff2) format('woff2');
}

html {
	height: 100%;
	background: #CCE5FF;
}

body {
    margin: 0;
	height: 100%;
	font-family: 'Alata', monospace;
	-webkit-text-size-adjust: 100% !important;
	-webkit-font-smoothing: antialiased !important;
	-webkit-tap-highlight-color: transparent !important;
}

#content {
	position: relative;
	background: linear-gradient(to bottom, #FFEAF8 20%, #DDFFD6, #CCE5FF);
	margin: auto;
}

@media (min-width: 1500px) {
	.gameMode #content {
		transform:scale(2) !important;
		transform-origin:top !important;
		width:50% !important;
		height:50% !important;
	}
}

#content404 {
	position: relative;
	background: linear-gradient(to bottom, #FFEAF8 20%, #DDFFD6, #CCE5FF);
	margin: auto;
	display:flex;
	height:100%;
}

#contentInner {
	position: relative;
	text-align: center;
	max-width: 1400px;
	margin: auto;
	font-size: 0px;
}

a {
	color: #FA70FF;
} 

a:hover {
	text-shadow: 0px 0px 3px currentColor;
} 

li {
	list-style-position: inside;
}

button {
	background: transparent;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	padding: inherit;
	margin: inherit;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.pixel {
	image-rendering: pixelated;
	/* image-rendering: crisp-edges; */
}

#footer {
	font-size: 16px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #FFFFFF;
	text-shadow: 0px 0px 3px #000000, 0px 0px 2px #000000, 0px 0px 1px #000000;
}

#footerVersion {
	font-size: 12px;
}

/* title */

#title {
	font-size: 0px; /* so there's no whitespaces */
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	padding-top: 10px;
    white-space: nowrap;
	user-select: none;
	outline: 0;
}

.titleLetter {
    display: inline-block;
	font-size: 64px;
}

@media (max-width: 400px) {
	.titleLetter {
		font-size: 48px !important;
	}
}

.titleSpace {
	padding-left: 8px;
	padding-right: 8px;
}

.titleFloat {
	animation: titleFloat 1s infinite alternate;
	animation-timing-function: ease-in-out;
}

.gameMode .titleFloat {
	animation: unset !important;
}

@keyframes titleFloat {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 10px);
	}
}

.titleShake {
    display: inline-block;
}

.titleShake404 {
    display: inline-block;
	animation: titleShake .35s linear infinite alternate;
}

@media (hover: hover) {
	.titleShake:hover {
		animation: titleShake .35s linear infinite alternate;
		cursor: pointer;
	}
}

@keyframes titleShake {
	0% {
		transform: translate(1px, 1px);
	}
	10% {
		transform: translate(-1px, -1px);
	}
	20% {
		transform: translate(-1px, 0px);
	}
	30% {
		transform: translate(1px, 1px);
	}
	40% {
		transform: translate(1px, -1px);
	}
	50% {
		transform: translate(-1px, 1px);
	}
	60% {
		transform: translate(-1px, 1px);
	}
	70% {
		transform: translate(1px, 1px);
	}
	80% {
		transform: translate(-1px, -1px);
	}
	90% {
		transform: translate(1px, 1px);
	}
	100% {
		transform: translate(1px, -1px);
	}
}

.titleOutline {
	position: relative;
	background: transparent;
	z-index: 0;
	outline: 0;
}

.titleOutline:before {
	content: attr(letter);
	position: absolute;
	-webkit-text-stroke: 4px #60318E;
    white-space: nowrap;
	left: 0;
	top: 0;
	z-index: -1;
}

/* textboxes */

.textbox {
	margin: 20px;
	background-color: #FFFFFF;
	display: inline-flex;
	position: relative;
	justify-content: space-evenly;
	flex-direction: column;
	box-shadow: 4px 4px #60318E;
	border: solid 2px #60318E;
	animation-timing-function: ease-in-out;
	max-width: calc(100% - 44px);
}

.gameMode .textbox {
	animation: unset !important;
}

.hidden {
	visibility: hidden;
	position: absolute;
}

.minimized .textboxHeader {
	border-bottom: unset !important;
}

.minimized .textboxText {
	display: none !important;
}

.maximized {
	width:calc(100% - 44px) !important;
	margin:20px 0px !important;
}

.textboxInner {
	margin: 8px 4px 4px 8px;
	box-shadow: 2px 2px #60318E;
}

.textboxHeader {
	background: #CCE5FF;
	text-align: left;
	color: #60318E;
	width: 100%;
	padding-top: 2px;
	height: 18px;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	font-family: 'Source Code Pro', monospace;
	border-bottom: solid 2px #60318E;
	position:relative;
}

.textboxHeaderText {
	text-align: left;
	padding: 0px 4px;
}

.textboxText {
	padding: 4px 8px 8px;
	font-size: 18px;
	line-height: 26px;
}

.textboxFooter {
	padding-top: 4px;
	font-size: 16px;
}

/* textbox buttons */

.windowButton {
	vertical-align: top;
	margin-right: 2px;
	float: right;
	display: inline-block;
	width: 15px;
	height: 12px;
	background-size: 75px 48px;
	padding: 0px 0px 12px 15px;
	border: solid 2px #60318E;
	transform: translate3d(0,0,0);
	background-color: transparent;
	background-image: url(../images/windowbuttons.png);
}

.windowButtonClickable {
	cursor: pointer;
}

.windowButtonClickable:hover {
	background-position-y: -12px;
}

.windowButtonClickable:active {
	background-position-y: -24px;
}

.windowButtonInactive {
	background-position-y: -36px;
	pointer-events:none !important;
}

.windowButtonClose {
	background-position-x: 0px;
}

.windowButtonMin {
	background-position-x: -15px;
}

.windowButtonMax {
	background-position-x: -30px;
}

@media (max-width: 850px) {
	.windowButtonMax {
		background-position-y: -36px !important;
		pointer-events:none !important;
	}
}

.windowButtonMaxUndo {
	background-position-x: -45px !important;
}

.windowButtonQuestion {
	background-position-x: -60px;
	position: relative;
}

.tooltip {
	display: none;
	background: #CCE5FF;
	padding: 4px 6px 6px;
	font-family: 'Alata', monospace;
	font-size: 16px;
	color: #000000;
	text-align: center;
	border: solid 2px #60318E;
	position: absolute;
	bottom: 100%;
	margin-bottom: 8px;
	transform: translate(calc(-50% - 7.5px), 0);
}

@media (max-width: 850px) {
	.tooltip {
		max-width:110px !important;
	}
}

.windowButtonQuestion:hover .tooltip {
	display: inline-block;
}

/* individual textboxes */

@keyframes textbox {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 4px);
	}
}

#textbox404 {
	width: 200px;
	text-align: center;
	animation: textbox 1.5s infinite alternate ease-in-out;
}

#textbox1 {
	width: 400px;
	text-align: left;
	animation: textbox 1.3s infinite alternate ease-in-out;
}

#textbox2 {
	width: 325px;
	text-align: left;
	animation: textbox 2.1s infinite alternate ease-in-out;
}

#textbox3 {
	width: 425px;
	text-align: center;
	animation: textbox 3s infinite alternate ease-in-out;
}

#textbox3Inner1 {
	width: 400px;
	text-align: center;
	margin: 5px;
}

#textbox3Inner2 {
	width: 400px;
	text-align: center;
	margin: 5px;
}

#textbox3Inner3 {
	width: 400px;
	text-align: center;
	margin: 5px;
}

#textbox4 {
	width: 275px;
	text-align: center;
	animation: textbox 1s infinite alternate ease-in-out;
}

.gameMode #textbox4 {
	display:none !important;
}

/* textbox containers */

.container {
	margin: 5px;
	display: inline-block;
	border: solid 2px #60318E;
	cursor: pointer;
	box-shadow: 1px 1px transparent;
	transition: transform 0.1s, box-shadow 0.1s;
}

.container:hover {
	transform: translate(-2px,-2px);
	box-shadow: 2px 2px #60318E;
}

.containerOuter {
	padding: 8px 8px 0px 8px;
	font-size: 0px;
	line-height: 0px;
}

.containerImage {
	line-height: 0px;
}

.containerSmall {
	width: 100px;
}

@media (max-width: 850px) {
	.containerSmall {
		width: 75px !important;
	}
}

.containerBig {
	width: 400px;
	max-width:100%;
}

.server {
	display: inline-flex;
	flex-direction: column;
}

.serverBanner {
	object-fit: cover;
	object-position: top;
	width: 160px;
	height: 321px;
}

.connect {
	display: inline-block;
	width: 146px;
	padding: 5px;
	margin-top: 5px;
	border: solid 2px #60318E;
	background: #CCE5FF;
	border-radius: 5px;
	color: #60318E;
	box-shadow: 1px 1px transparent;
	transition: transform 0.1s, box-shadow 0.1s;
}

.connect:hover {
	transform: translate(-2px,-2px);
	box-shadow: 2px 2px #60318E;
}

/* desktop buttons */

#desktopButtons {
	margin-top: 10px;
}

.desktopButtonContainer {
	cursor: pointer;
	transition: transform 0.1s;
}

.desktopButtonContainer:hover {
	transform: translate(0,-2px);
}

.desktopButton {
	display: inline-block;
	width: 32px;
	height: 32px;
	transform: scale(2);
	margin: 16px;
	background-image: url(../images/desktopicons.png);
}

.desktopButtonText {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
	text-align: center;
	color: #60318E;
	border: none;
	border-radius: 5px;
	height: 18px;
	margin: 5px;
	padding: 3px;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	font-family: 'Source Code Pro', monospace;
	border: solid 2px #60318E;
}